.center{
    width: 1200px;
    margin: 0 auto;
}

.titH1{
    font-size: 38px;
    color: #333;
    text-align: center;
    margin: 80px 0;
}

.main{
    padding-top: 85px;
}

/* 背景颜色 */
.connonBg{ 
  background: #f6f6f6;
}


/* 轮播图大小 */
.conmontBanner{
  margin-bottom: 64px;
}
.conmontBanner img{
  width: 100%;
  height: 500px;
}

img{
    object-fit: cover;
}

.t_a_c{
  text-align: center;
}
.t_a_l{
  text-align: left;
}
.t_a_r{
  text-align: right;
}
.clearfix{
  clear: both;
  overflow: hidden;
}
.cursor_p{
  cursor: pointer;
}

.commontMenuItem .el-menu-item.is-active{
  background-color: #4E9F5B !important;
}

.commontMenuItem .el-menu-item{
  text-align: center;
}
.bgray{
  background: #FAFBFF;
}


/* 面包屑 */
.crumbs{
  margin-bottom: 24px;
}

.crumbs{
  display: flex;
  align-items: center;
}

.crumbs span{
  margin-right: 8px;
  cursor: pointer;
  color: #666;
}

.crumbs span:last-child{
  color: #333;
}

/* 新闻中心/关于我们/帮助支持公用样式 */
.publicCenter{
  display: flex;
  justify-content: space-between;
  padding-bottom: 57px;
}
.publicCenter .contList {
  width: 976px;
  height: 923px;
  background: #FFFFFF;
}

.publicCenter .contList .paging{
  position: absolute;
  left: 50%;
  bottom: 49px;
  transform: translate(-50%,0);
}

/* 个人中心修改资料标签页样式 */
.modifyBox .el-tabs--border-card>.el-tabs__header{
  background: #dffde4;
}
.modifyBox .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
  color: #fff;
  background-color: #4E9F5B;
}

.modifyBox .el-tabs--border-card>.el-tabs__header .el-tabs__item{
  color: #333;
}
.modifyBox .el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover{
  color: #333;
}



