.print-more-title {
  margin-bottom: 24px;
}
.print-more-title span.current {
  display: inline-block;
  color: #333333;
  font-size: 14px;
}
.print-more-title span.cursor_p {
  color: #999;
}
.card-style {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card-style li {
  width: 368px;
  height: 400px;
  background: #D8D8D8;
  border-radius: 8px;
}
.card-style li:not(:last-child) {
  margin-right: 47px;
}
.card-style li .image {
  width: 190px;
  height: 204px;
  margin: 47px auto 32px;
  border: 1px solid #666;
}
.card-style li .title {
  text-align: center;
  font-size: 16px;
  color: #333333;
  margin-bottom: 32px;
}
.card-style li .number {
  text-align: center;
  font-size: 16px;
  color: #333333;
}
.el-form-item {
  margin-bottom: 24px;
}
.el-form-item .el-form-item__content {
  line-height: 34px !important;
}
.el-form-item .el-input__icon {
  line-height: 34px;
}
.el-form-item .el-input__inner,
.el-form-item .el-cascader {
  height: 34px !important;
  line-height: 34px !important;
}
.el-form-item .el-checkbox {
  margin-right: 20px !important;
}
.el-form-item .el-checkbox .el-checkbox__label {
  padding-left: 6px;
}
.el-form-item .el-checkbox.is-bordered {
  height: 32px;
  padding: 6px 10px 6px 10px;
  border: 1px solid #ccc;
}
.el-form-item .el-checkbox.is-bordered.is-checked {
  border-color: #409EFF;
}
.el-form-item .el-form-item__label {
  width: 100px;
  text-align: left;
  padding-right: 16px;
  line-height: 34px !important;
}
.el-form-item .el-input-number {
  width: 110px;
  height: 34px;
  line-height: 34px !important;
}
.el-form-item .el-input-number__decrease,
.el-form-item .el-input-number__increase {
  width: 33px;
  height: 32px;
}
.el-form-item .el-color-picker {
  height: 34px;
}
.el-form-item .el-color-picker .el-color-picker__trigger {
  width: 34px;
  height: 34px;
}
.el-form-item .el-upload {
  float: left;
}
.el-form-item .el-upload-list {
  float: left;
  margin-left: 20px;
  width: 364px;
  display: flex;
  flex-wrap: wrap;
}
.el-form-item .el-upload-list li {
  display: inline-block;
  margin-right: 8px;
  width: 115px;
  height: 34px;
  background-color: rgba(102, 102, 102, 0.1);
  border-radius: 4px;
  margin-top: 0;
}
.el-form-item .el-upload-list li:last-child {
  margin-right: 0;
}
.el-form-item .el-upload-list .el-icon-document {
  display: none;
}
.el-form-item .el-upload-list .el-upload-list__item-name {
  line-height: 34px;
}
.el-form-item .el-upload-list .el-upload-list__item-status-label {
  line-height: 34px;
}
.el-form-item .el-upload-list .el-upload-list__item .el-icon-close {
  top: 10px;
}
.gongyiType .el-form-item__content {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
}
.gongyiType .el-form-item__content > div {
  margin-right: 20px;
}
.gongyiType .el-form-item__content .el-checkbox {
  margin-right: 3px !important;
}
.gongyiType .el-form-item__content .el-radio {
  margin-right: 5px;
}
.gongyiType .el-form-item__content .el-select.mini {
  width: 72px;
}
.gongyiType .el-form-item__content .el-select.mini.width78 {
  width: 78px;
}
.gongyiType .el-form-item__content .el-select.mini input {
  height: 24px !important;
  line-height: 24px !important;
  font-size: 12px;
  padding-left: 10px;
}
.gongyiType .el-form-item__content .el-select.mini .el-select__caret {
  height: 24px !important;
  line-height: 24px !important;
}
.gongyiType .el-form-item__content .el-select.mini .el-input__suffix {
  right: 1px;
}
.yhc-el .el-select,
.yhc-el .el-input {
  height: 34px !important;
  line-height: 34px !important;
}
.yhc-el .el-input__icon {
  line-height: 34px;
}
.yhc-el .el-input__inner,
.yhc-el .el-cascader {
  height: 34px !important;
  line-height: 34px !important;
}
.yhc-el .el-radio {
  margin-right: 12px;
}
.yhc-el-input .el-input.mini {
  height: 24px !important;
  line-height: 24px !important;
  font-size: 12px;
}
.yhc-el-input .el-input.mini input {
  width: 78px;
  height: 24px !important;
  line-height: 24px !important;
  font-size: 12px;
  padding-left: 10px;
}
.yhc-dialog .el-dialog__header {
  padding: 15px 24px 15px;
}
.yhc-dialog .el-dialog__title {
  font-size: 16px;
}
.yhc-dialog .el-dialog__body {
  padding: 10px 24px;
}
.yhc-dialog .el-dialog__footer {
  padding: 10px 24px 20px;
}
.yhc-dialog .el-dialog__footer .el-button--primary {
  background-color: #3551DF;
  border-color: #3551DF;
}
.yhc-dialog .el-textarea__inner {
  height: 170px;
  background: #F2F3F8;
}
.yhc-dialog .el-button {
  padding: 7px 13px;
}
.yhc-radios .el-radio {
  margin-bottom: 24px;
}
.yhc-tips {
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  border-radius: 50%;
  background: #D81E06;
  color: #fff;
  margin-top: 10px;
  margin-right: 5px;
  font-size: 10px;
  cursor: pointer;
}
.el-tooltip__popper {
  max-width: 400px;
  line-height: 180%;
}
.yhc-el-dialog .el-dialog .el-dialog__header {
  padding: 10px 15px 10px;
}
.yhc-el-dialog .el-dialog .el-dialog__headerbtn {
  top: 10px;
}
.yhc-el-dialog .el-dialog .el-dialog__body {
  padding: 0px 15px 20px;
}
.yhc-el-dialog .el-dialog .dialog-type-style {
  display: flex;
  flex-wrap: wrap;
}
.yhc-el-dialog .el-dialog .dialog-type-style li {
  padding: 2px;
  background: #E5EDE7;
  text-align: center;
  color: #4E9F5B;
  margin-right: 10px;
  margin-top: 10px;
}
.yhc-el-tabs .el-tabs--border-card {
  border: none;
}
.yhc-el-tabs .el-tabs--border-card .el-tabs__item {
  height: 44px;
  border-top: 3px solid transparent !important;
}
.yhc-el-tabs .el-tabs--border-card .el-tabs__item.is-active {
  color: #4e9f5b !important;
  border-top: 3px solid #4e9f5b !important;
}
.yhc-el-tabs .el-tabs--border-card .el-tabs__content {
  padding: 0 !important;
}
.el-button.yhc_btn {
  background: #4E9F5B;
  color: #fff;
  border-color: #4E9F5B;
  min-width: 110px;
}
.el-button.yhc_btn.is-active,
.el-button.yhc_btn:active,
.el-button.yhc_btn:hover,
.el-button.yhc_btn:focus {
  background: #4e9f5b;
  border-color: #4e9f5b;
}
.tabs-box {
  display: flex;
}
.tabs-box .tab-plane {
  font-size: 16px;
  color: #999;
  padding: 4px 0;
  margin-right: 8px;
}
.tabs-box .tab-plane.active {
  color: #4E9F5B;
  border-bottom: 2px solid #4E9F5B;
}
.tabs-box .selectAddr {
  cursor: pointer;
  padding: 4px 0;
  line-height: 18px;
  color: #476dff;
}
.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}
.btn-box .btn {
  width: inherit;
  height: 34px;
  line-height: 20px;
  padding: 7px 24px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.btn-box .cancel {
  background: #DBDBDB;
  margin-right: 24px;
}
.btn-box .sure {
  background: #4E9F5B;
}
.add-minus-box {
  display: flex;
}
.add-minus-box > span {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 18px;
  text-align: center;
  background: #CBCFE3;
  border-radius: 50%;
  font-size: 23px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
.add-minus-box > span:first-child {
  margin-right: 5px;
}
.yhc-attr-btns {
  display: flex;
  justify-content: flex-start;
}
.yhc-attr-btns .btn {
  color: #C0C4CC;
  background: #fff;
  border: 1px solid #c8cbd6;
}
.yhc-attr-btns .btn:not(:last-child) {
  margin-right: 16px;
}
.yhc-attr-btns .btn:hover,
.yhc-attr-btns .btn.active {
  color: #4E9F5B;
  background: #fff;
  border: 1px solid #4E9F5B;
}
.ych-title-head {
  height: 40px;
  line-height: 40px;
  background: rgba(78, 159, 91, 0.1);
  margin-top: 24px;
}
.ych-title-head .title {
  padding: 9px 24px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: #4E9F5B;
}
/* 面包屑 */
.crumbsHeader {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.crumbs {
  display: flex;
  align-items: center;
}
.crumbs span {
  margin-right: 8px;
  cursor: pointer;
  color: #666;
}
.crumbs span:last-child {
  color: #333;
}
/* 新闻中心/关于我们/帮助支持公用样式 */
.publicCenter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 57px;
}
.publicCenter .contList {
  width: 976px;
  min-height: 923px;
  background: #FFFFFF;
}
.publicCenter .contList .paging {
  text-align: center;
  margin-top: 47px;
}
/* 个人中心修改资料标签页样式 */
.modifyBox .el-tabs--border-card > .el-tabs__header {
  background: #dffde4;
}
.modifyBox .el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: #fff;
  background-color: #4E9F5B;
}
.modifyBox .el-tabs--border-card > .el-tabs__header .el-tabs__item {
  color: #333;
}
.modifyBox .el-tabs--border-card > .el-tabs__header .el-tabs__item:not(.is-disabled):hover {
  color: #333;
}
.modifyBox .el-tabs--left .el-tabs__header.is-left {
  width: 18%;
  margin-right: 0;
}
.modifyBox .el-tabs--left .el-tabs__item.is-left {
  text-align: center;
}
.modifyBox .el-tabs__item {
  padding: 0;
}
.modifyBox .el-tabs--border-card > .el-tabs__content {
  width: 80%;
  padding: 72px 32px 32px;
  position: relative;
  height: 100%;
}
.modifyBox .upload-demo {
  text-align: center;
}
.modifyBox .el-button--primary {
  background-color: #4E9F5B;
  border-color: #4E9F5B;
  width: 224px;
  margin-top: 32px;
}
.modifyBox .el-button--primary:hover {
  background-color: #4E9F5B;
  border-color: #4E9F5B;
}
.modifyBox .el-tab-pane {
  height: 100%;
}
.userPicturePorp .el-tabs--border-card > .el-tabs__content {
  width: 80%;
  padding: 56px 32px 32px;
  position: relative;
  height: 100%;
}
/* 个人中心 打印文件 多选 */
.checkboxBox .el-checkbox__label {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}
.checkboxBox .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #333333;
}
.checkboxBox label.is-checked {
  background: rgba(78, 159, 91, 0.1);
}
.checkboxBox .el-checkbox__inner {
  width: 16px;
  height: 16px;
}
.checkboxBox .el-checkbox__inner::after {
  height: 8px;
  left: 5px;
}
.checkboxBox .el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #4E9F5B;
  border-color: #4E9F5B;
}
.introBox .el-radio.is-bordered {
  width: 100%;
  text-align: center;
  height: 47px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 0;
  line-height: 47px;
}
.introBox .el-radio.is-bordered.is-checked {
  border-color: #4E9F5B;
}
.introBox .el-radio__input.is-checked .el-radio__inner {
  border-color: #4E9F5B;
  background: #4E9F5B;
}
.introBox .el-radio__input.is-checked .el-radio__inner .el-radio__inner {
  border-radius: 0;
}
.introBox .el-radio__label {
  width: 100px;
  display: inline-block;
  text-align: left;
}
.introBox .el-radio__input.is-checked + .el-radio__label {
  color: #333333;
}
.publicPorp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  z-index: 113;
}
.publicPorp .btnBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.publicPorp .btnBox .span {
  width: 85px;
  height: 34px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  line-height: 34px;
  cursor: pointer;
}
.publicPorp .btnBox .span:first-child {
  background: #DBDBDB;
  margin-right: 24px;
}
.publicPorp .btnBox .span:last-child {
  background: #4E9F5B;
}
.publicPorp .buttonBox .el-form-item__content {
  margin-left: 0 !important;
}
.publicPorp .buttonBox .el-button {
  padding: 0 !important;
}
.publicPorp .buttonBox .el-button + .el-button {
  margin-left: 0 !important;
}
.publicPorp .buttonBox .el-button:active {
  border: none !important;
}
.loginBoxPorp .el-form-item .el-form-item__content {
  width: 100%;
}
.loginBoxPorp .el-form-item .el-input__inner,
.loginBoxPorp .el-form-item .el-cascader {
  height: 44px !important;
  line-height: 44px !important;
}
.daohang {
  margin: 24px 0;
}
.table-box {
  width: 100%;
}
.table-box th,
.table-box td {
  text-align: left;
  color: #333;
  font-weight: normal;
  padding: 13px;
  background-color: #fff;
  border-bottom: 1px solid #ebeef5;
}
.tip-badge {
  padding: 10px;
  display: inline-block;
  position: relative;
}
.tip-badge i.badge {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  background: #f56c6c;
  border-radius: 50%;
  right: 0px;
  top: 1px;
  font-style: initial;
  font-size: 14px;
}
.el-menu,
.el-menu.el-menu--horizontal {
  border: none;
}
.eleNwsBox .el-tabs__nav {
  width: 100%;
}
.eleNwsBox #tab-more {
  position: absolute;
  right: 0;
}
.eleNwsBox .el-tabs__item.is-active {
  color: #4E9F5B;
}
.eleNwsBox .el-tabs__active-bar {
  background-color: #4E9F5B;
}
.eleNwsBox .el-tabs__item:hover {
  color: #4E9F5B;
}
.eleNwsBox .el-tabs__nav-wrap::after {
  background: none;
}
.eleNwsBox .el-tabs__header {
  margin-bottom: 30px;
}
.eleNwsBox .el-tabs__item {
  color: #999;
}
.operateBox .el-date-editor--daterange.el-input__inner {
  width: 257px;
}
.editBox {
  padding: 0;
}
.editBox .el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: #4E9F5B;
  color: #fff;
}
.editBox[x-placement^=bottom] .popper__arrow {
  top: -7px;
}
.editBox[x-placement^=bottom] {
  margin-top: 7px;
}
.radioPublic .el-radio__inner {
  width: 18px;
  height: 18px;
  border: 1px solid #979797;
}
.radioPublic .el-radio__inner::after {
  width: 6px;
  height: 6px;
  background: #4E9F5B;
}
.radioPublic .el-radio__input.is-checked .el-radio__inner {
  border-color: #4E9F5B;
  background: none;
}
.radioPublic .el-radio__input.is-checked + .el-radio__label {
  color: #333;
}
.workUL .el-collapse-item__header {
  height: 100%;
  line-height: normal;
}
.workUL .el-collapse-item__arrow {
  display: none;
}
.workUL .el-collapse-item__content {
  padding-bottom: 0;
}
.phoneCodeBOX .el-form-item__error {
  left: 46.66667%;
}
.addAreaBox .el-checkbox__inner {
  width: 16px;
  height: 16px;
}
.addAreaBox .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #333;
}
.addAreaBox .el-checkbox__inner::after {
  height: 8px;
  left: 5px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  -webkit-appearance: none;
}
::-webkit-scrollbar-track {
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #ccc;
  transition: all 0.2s;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(95, 95, 95, 0.7);
}
.noCont {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D6DAEC;
  margin: 24px;
  padding-bottom: 24px;
  justify-content: center;
}
.noCont img {
  width: 18px;
  height: 18px;
}
.noCont p {
  color: #999;
  margin-left: 8px;
}
