.print-more-title {
  margin-bottom: 24px;

  span.current {
    display: inline-block;
    color: #333333;
    font-size: 14px;
  }

  span.cursor_p {
    color: #999;
  }
}

// 产品详情页--相关产品--card样式
.card-style {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    width: 368px;
    height: 400px;
    background: #D8D8D8;
    border-radius: 8px;

    // margin-bottom: 48px;
    .image {
      width: 190px;
      height: 204px;
      margin: 47px auto 32px;
      border: 1px solid #666;
    }

    .title {
      text-align: center;
      font-size: 16px;
      color: #333333;
      margin-bottom: 32px;
    }

    .number {
      text-align: center;
      font-size: 16px;
      color: #333333;
    }
  }
}

// form表单内的radio CheckBox input label 等样式

.el-form-item {
  margin-bottom: 24px;

  .el-form-item__content {
    line-height: 34px !important;
  }

  .el-input__icon {
    line-height: 34px;
  }

  // input 层级选择器
  .el-input__inner,
  .el-cascader {
    height: 34px !important;
    line-height: 34px !important;
  }

  // 复选框
  .el-checkbox {
    margin-right: 20px !important;

    .el-checkbox__label {
      padding-left: 6px;
    }
  }

  .el-checkbox.is-bordered {
    height: 32px;
    padding: 6px 10px 6px 10px;
    border: 1px solid #ccc;
  }

  .el-checkbox.is-bordered.is-checked {
    border-color: #409EFF;
  }

  // label
  .el-form-item__label {
    width: 100px;
    text-align: left;
    padding-right: 16px;
    line-height: 34px !important;
  }

  // 计数器
  .el-input-number {
    width: 110px;
    height: 34px;
    line-height: 34px !important;
  }

  .el-input-number__decrease,
  .el-input-number__increase {
    width: 33px;
    height: 32px;
  }

  // 颜色选择器
  .el-color-picker {
    height: 34px;

    .el-color-picker__trigger {
      width: 34px;
      height: 34px;
    }
  }

  // .el-button--primary {
  //     background: #4E9F5B;
  //     color:#fff;
  //     border-color: #4E9F5B;
  //     width: 110px;
  //     float: left;
  // }
  // .el-button--primary:hover,.el-button--primary:active{
  //     background: #4E9F5B;
  //     border-color: #4E9F5B;
  // }
  // 上传按钮
  .el-upload {
    float: left;
  }

  // 上传后的列表样式
  .el-upload-list {
    float: left;
    margin-left: 20px;
    width: 364px;
    display: flex;
    flex-wrap: wrap;

    li {
      display: inline-block;
      margin-right: 8px;
      width: 115px;
      height: 34px;
      background-color: rgba(102, 102, 102, 0.1);
      border-radius: 4px;
      margin-top: 0;

      &:last-child {
        margin-right: 0;
      }

    }

    .el-icon-document {
      display: none;
    }

    .el-upload-list__item-name {
      line-height: 34px;
    }

    .el-upload-list__item-status-label {
      line-height: 34px;
    }

    .el-upload-list__item .el-icon-close {
      top: 10px;
    }
  }
}

//工艺中特殊处理的select input checkbox
.gongyiType .el-form-item__content {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;

  >div {
    margin-right: 20px;
  }

  .el-checkbox {
    margin-right: 3px !important;
  }
  .el-radio{
      margin-right: 5px;
  }
  .el-select.mini {
    width: 72px;

    &.width78 {
      width: 78px;
    }

    input {
      height: 24px !important;
      line-height: 24px !important;
      font-size: 12px;
      padding-left: 10px;
    }

    .el-select__caret {
      height: 24px !important;
      line-height: 24px !important;
    }

    .el-input__suffix {
      right: 1px;
    }
  }
}
.yhc-el{
    .el-select,.el-input{
        height: 34px !important;
      line-height: 34px !important;
    }
    .el-input__icon {
        line-height: 34px;
      }
    
      // input 层级选择器
      .el-input__inner,
      .el-cascader {
        height: 34px !important;
        line-height: 34px !important;
      }
      .el-radio{
          margin-right:12px;
      }
}
.yhc-el-input {
  .el-input.mini {
    height: 24px !important;
    line-height: 24px !important;
    font-size: 12px;

    input {
      width: 78px;
      height: 24px !important;
      line-height: 24px !important;
      font-size: 12px;
      padding-left: 10px;
    }
  }

}
//单选按钮群组
.yhc-radios{
    .el-radio{
        margin-bottom:24px;
    }
}
//   红色警示标
.yhc-tips {
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  border-radius: 50%;
  background: #D81E06;
  color: #fff;
  margin-top: 10px;
  margin-right: 5px;
  font-size: 10px;
  cursor: pointer;
}

.el-tooltip__popper {
  max-width: 400px;
  line-height: 180%;
}

//   弹框style
.yhc-el-dialog {
  .el-dialog {
    .el-dialog__header {
      padding: 10px 15px 10px;
    }

    .el-dialog__headerbtn {
      top: 10px;
    }

    .el-dialog__body {
      padding: 0px 15px 20px;
    }

    .dialog-type-style {
      display: flex;
      flex-wrap: wrap;

      li {
        padding: 2px;
        background: #E5EDE7;
        text-align: center;
        color: #4E9F5B;
        margin-right: 10px;
        margin-top: 10px;
      }
    }
  }
}

// 带有顶部线条的tab
.yhc-el-tabs .el-tabs--border-card {
  border: none;

  .el-tabs__item {
    height: 44px;
    border-top: 3px solid transparent !important;
  }

  .el-tabs__item.is-active {
    color: #4e9f5b !important;
    border-top: 3px solid #4e9f5b !important;
  }
}

.el-button.yhc_btn {
  background: #4E9F5B;
  color: #fff;
  border-color: #4E9F5B;
  min-width: 110px;
}

.el-button.yhc_btn.is-active,
.el-button.yhc_btn:active,
.el-button.yhc_btn:hover,
.el-button.yhc_btn:focus {
  background: #4e9f5b;
  border-color: #4e9f5b;
}

// 自己写的tabs切换
.tabs-box {
  display: flex;

  .tab-plane {
    font-size: 16px;
    color: #999;
    padding: 4px 0;
    margin-right: 8px;

    &.active {
      color: #4E9F5B;
      border-bottom: 2px solid #4E9F5B;
    }
  }
}

// 确定、取消按钮box
.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;

  .btn {
    width: inherit;
    height: 34px;
    line-height: 20px;
    padding: 7px 24px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }

  .cancel {
    background: #DBDBDB;
    margin-right: 24px;
  }

  .sure {
    background: #4E9F5B;
  }
}
//加减按钮图标
.add-minus-box{
    display: flex;
    >span{
        display: inline-block;
        width: 22px;
        height: 22px;
        line-height: 18px;
        text-align: center;
        background: #CBCFE3;
        border-radius: 50%;
        font-size: 23px;
        font-weight: 500;
        color: #fff;
        cursor: pointer;
        &:first-child{
            margin-right: 5px;
        }
    }
}
// 属性表单中可切换的按钮
.yhc-attr-btns {
  display: flex;
  justify-content: space-between;

  .btn {
    //   width: 110px;
    background: #fff;
    border: 1px solid #c8cbd6;
    &:hover,
    &.active {
      color: #476dff;
      background: #ebf0ff;
      border: 1px solid #3c63ff;
    }
  }
}
// 带有背景色的表头
.ych-title-head{
    height: 40px;
    line-height: 40px;
   background: rgba(78, 159, 91, 0.1);
   margin-top: 24px;
    .title{
        padding: 9px 24px;
        font-size: 16px;
        color:#fff;
        text-align: center;
        background: #4E9F5B;
    }
}
/* 面包屑 */

.crumbsHeader {
  margin-bottom: 24px;
  display: flex;
  align-items: center;

}

.crumbs {
  display: flex;
  align-items: center;
}

.crumbs span {
  margin-right: 8px;
  cursor: pointer;
  color: #666;
}

.crumbs span:last-child {
  color: #333;
}

/* 新闻中心/关于我们/帮助支持公用样式 */
.publicCenter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 57px;
}

.publicCenter .contList {
  width: 976px;
  height: 923px;
  background: #FFFFFF;
}

.publicCenter .contList .paging {
  position: absolute;
  left: 50%;
  bottom: 49px;
  transform: translate(-50%, 0);
}

/* 个人中心修改资料标签页样式 */
.modifyBox .el-tabs--border-card>.el-tabs__header {
  background: #dffde4;
}

.modifyBox .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
  color: #fff;
  background-color: #4E9F5B;
}

.modifyBox .el-tabs--border-card>.el-tabs__header .el-tabs__item {
  color: #333;
}

.modifyBox .el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
  color: #333;
}

.modifyBox .el-tabs--left .el-tabs__header.is-left {
  width: 18%;
  margin-right: 0;
}

.modifyBox .el-tabs--left .el-tabs__item.is-left {
  text-align: center;
}

.modifyBox .el-tabs__item {
  padding: 0;
}

.modifyBox .el-tabs--border-card>.el-tabs__content {
  width: 80%;
  padding: 72px 32px 32px;
  position: relative;
  height: 100%;
}

.modifyBox .upload-demo {
  text-align: center;
}

.modifyBox .el-button--primary {
  background-color: #4E9F5B;
  border-color: #4E9F5B;
  width: 224px;
  margin-top: 32px;
}

.modifyBox .el-button--primary:hover {
  background-color: #4E9F5B;
  border-color: #4E9F5B;
}

.modifyBox{
  .el-tab-pane{
    height: 100%;
  }
}


// 文件打印

.userPicturePorp .el-tabs--border-card>.el-tabs__content {
  width: 80%;
  padding:56px 32px 32px;
  position: relative;
  height: 100%;
}



/* 个人中心 打印文件 多选 */
.checkboxBox .el-checkbox__label {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.checkboxBox .el-checkbox__input.is-checked+.el-checkbox__label {
  color: #333333;
}

.checkboxBox label.is-checked {
  background: rgba(78, 159, 91, 0.1);
}

.checkboxBox .el-checkbox__inner {
  width: 16px;
  height: 16px;
}

.checkboxBox .el-checkbox__inner::after {
  height: 8px;
  left: 5px;
}

.checkboxBox .el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #4E9F5B;
  border-color: #4E9F5B;
}

// 定制服务
.introBox {
  .el-radio.is-bordered {
    width: 100%;
    text-align: center;
    height: 47px;
    background: #FFFFFF;
    border-radius: 4px;
    // border: 1px solid #4E9F5B;
    padding: 0;
    line-height: 47px;
  }

  .el-radio.is-bordered.is-checked {
    border-color: #4E9F5B;
  }

  .el-radio__input.is-checked .el-radio__inner {
    border-color: #4E9F5B;
    background: #4E9F5B;

    .el-radio__inner {
      border-radius: 0;
    }
  }

  .el-radio__label {
    width: 100px;
    display: inline-block;
    text-align: left;
  }

  .el-radio__input.is-checked+.el-radio__label {
    color: #333333;
  }
}

// 弹框公用样式
.publicPorp{
  // padding: 24px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  // background: #FFFFFF;
  border-radius: 8px;
  z-index: 113;

  .btnBox{
    display: flex;
    align-items: center;
    justify-content: center;

    span{
      width: 85px;
      height: 34px;
      border-radius: 4px;
      color: #fff;
      text-align: center;
      line-height: 34px;
      cursor: pointer;
    }
    span:first-child{
      background: #DBDBDB;
      margin-right: 24px;
    }
    span:last-child{
      background: #4E9F5B;
    }
    
  }

}




.loginBoxPorp{
  .el-form-item .el-form-item__content{
    width: 100%;
  }
  .el-form-item .el-input__inner, .el-form-item .el-cascader {
      height: 44px !important;
      line-height: 44px !important;
  }
}

// .el-radio__inner {
//   border-radius: 0;
// }

// .el-radio__label {
//   width: 100px;
//   display: inline-block;
//   text-align: left;
// }

// .el-radio__input.is-checked+.el-radio__label {
//   color: #333333;
// }
// 页面最上端导航字体
.daohang{
    margin: 24px 0;
}
//全局table
.table-box{
    width: 100%;
    th,td{
        text-align: left;
        color:#333;
        font-weight: normal;
        padding: 13px;
        background-color: #fff;
        border-bottom: 1px solid #ebeef5;
    }
}
.tip-badge{
    padding: 10px;
    display: inline-block;
    position: relative;
    i.badge{
        position: absolute;
        display: inline-block;
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        color:#fff;
        background: #f56c6c;
        border-radius: 50%;
        right: 0px;
        top: 1px;
        font-style: initial;
        font-size: 14px;
    }
}

.el-menu, .el-menu.el-menu--horizontal{
  border: none;

}

// 首页新闻中心
.eleNwsBox{
  .el-tabs__nav{
    width: 100%;
  }
  
  #tab-more{
    position: absolute;
    right: 0;
  }
  .el-tabs__item.is-active{
    color: #4E9F5B;
  }
  .el-tabs__active-bar{
    background-color: #4E9F5B;
  }
  .el-tabs__item:hover{
    color: #4E9F5B;
  }
  .el-tabs__nav-wrap::after{
    background: none;
  }
  .el-tabs__header{
    margin-bottom: 30px;
  }
  .el-tabs__item{
    color: #999;
  }
}

// 个人中心  订单管理

.operateBox{
  .el-date-editor--daterange.el-input__inner{
    width: 257px;
  }

}

.editBox{
  padding: 0;
  .el-dropdown-menu__item:not(.is-disabled):hover{
    background-color: #4E9F5B;
    color: #fff;
  }
}
.editBox[x-placement^=bottom] .popper__arrow{
  top: -7px;
}
.editBox[x-placement^=bottom]{
  margin-top: 7px;
}

// 单选样式

.radioPublic{
  .el-radio__inner{
    width: 18px;
    height: 18px;
    border: 1px solid #979797;
  }
  .el-radio__inner::after{
    width: 6px;
    height: 6px;
    background: #4E9F5B;
  }
  .el-radio__input.is-checked .el-radio__inner{
    border-color: #4E9F5B;
    background: none;
  }
  .el-radio__input.is-checked+.el-radio__label{
    color: #333;
  }
}


// 合作加盟
.workUL{
  .el-collapse-item__header{
    height: 100%;
    line-height: normal;
  }
  .el-collapse-item__arrow{
      display: none;
  }

  .el-collapse-item__content{
      padding-bottom: 0;
  }
}

.phoneCodeBOX{
  .el-form-item__error{
    left: 46.66667%;
  }
}

.addAreaBox{
  .el-checkbox__inner{
    width: 16px;
    height: 16px;
  }
  .el-checkbox__input.is-checked+.el-checkbox__label{
    color: #333;
  }
  .el-checkbox__inner::after{
    height: 8px;
    left: 5px;
  }
}

//修改滚动条的样式
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    -webkit-appearance: none;
    // background-image: linear-gradient(135deg, #1DE9B6 0%, rgba(8, 196, 219, 0.50) 72%, rgba(0, 182, 234, 0.30) 100%);
}

::-webkit-scrollbar-track {
    border-radius: 0;
}

// 滚动条
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #ccc;
    transition: all 0.2s;
    border-radius: 10px;

    &:hover {
        background-color: rgba(95, 95, 95, .7);
    }
}





