.print-more-title {
  margin-bottom: 24px;

  span.current {
    display: inline-block;
    color: #333333;
    font-size: 14px;
  }

  span.cursor_p {
    color: #999;
  }
}

// 产品详情页--相关产品--card样式
.card-style {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    width: 368px;
    height: 400px;
    background: #D8D8D8;
    border-radius: 8px;

    // margin-bottom: 48px;
    .image {
      width: 190px;
      height: 204px;
      margin: 47px auto 32px;
      border: 1px solid #666;
    }

    .title {
      text-align: center;
      font-size: 16px;
      color: #333333;
      margin-bottom: 32px;
    }

    .number {
      text-align: center;
      font-size: 16px;
      color: #333333;
    }
  }
}

// form表单内的radio CheckBox input label 等样式

.el-form-item {
  margin-bottom: 24px;

  .el-form-item__content {
    line-height: 34px !important;
  }

  .el-input__icon {
    line-height: 34px;
  }

  // input 层级选择器
  .el-input__inner,
  .el-cascader {
    height: 34px !important;
    line-height: 34px !important;
  }

  // 复选框
  .el-checkbox {
    margin-right: 20px !important;

    .el-checkbox__label {
      padding-left: 6px;
    }
  }

  .el-checkbox.is-bordered {
    height: 32px;
    padding: 6px 10px 6px 10px;
    border: 1px solid #ccc;
  }

  .el-checkbox.is-bordered.is-checked {
    border-color: #409EFF;
  }

  // label
  .el-form-item__label {
    width: 100px;
    text-align: left;
    padding-right: 16px;
    line-height: 34px !important;
  }

  // 计数器
  .el-input-number {
    width: 110px;
    height: 34px;
    line-height: 34px !important;
  }

  .el-input-number__decrease,
  .el-input-number__increase {
    width: 33px;
    height: 32px;
  }

  // 颜色选择器
  .el-color-picker {
    height: 34px;

    .el-color-picker__trigger {
      width: 34px;
      height: 34px;
    }
  }

  // .el-button--primary {
  //     background: #4E9F5B;
  //     color:#fff;
  //     border-color: #4E9F5B;
  //     width: 110px;
  //     float: left;
  // }
  // .el-button--primary:hover,.el-button--primary:active{
  //     background: #4E9F5B;
  //     border-color: #4E9F5B;
  // }
  // 上传按钮
  .el-upload {
    float: left;
  }

  // 上传后的列表样式
  .el-upload-list {
    float: left;
    margin-left: 20px;
    width: 364px;
    display: flex;
    flex-wrap: wrap;

    li {
      display: inline-block;
      margin-right: 8px;
      width: 115px;
      height: 34px;
      background-color: rgba(102, 102, 102, 0.1);
      border-radius: 4px;
      margin-top: 0;

      &:last-child {
        margin-right: 0;
      }

    }

    .el-icon-document {
      display: none;
    }

    .el-upload-list__item-name {
      line-height: 34px;
    }

    .el-upload-list__item-status-label {
      line-height: 34px;
    }

    .el-upload-list__item .el-icon-close {
      top: 10px;
    }
  }
}

//工艺中特殊处理的select input checkbox
.gongyiType .el-form-item__content {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-right: 20px;

  >div {
    margin-right: 20px;
  }

  .el-checkbox {
    margin-right: 3px !important;
  }

  .el-select.mini {
    width: 72px;

    &.width78 {
      width: 78px;
    }

    input {
      height: 24px !important;
      line-height: 24px !important;
      font-size: 12px;
      padding-left: 10px;
    }

    .el-select__caret {
      height: 24px !important;
      line-height: 24px !important;
    }

    .el-input__suffix {
      right: 1px;
    }
  }
}

.yhc-el-input {
  .el-input.mini {
    height: 24px !important;
    line-height: 24px !important;
    font-size: 12px;

    input {
      width: 78px;
      height: 24px !important;
      line-height: 24px !important;
      font-size: 12px;
      padding-left: 10px;
    }
  }

}

//   红色警示标
.yhc-tips {
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  border-radius: 50%;
  background: #D81E06;
  color: #fff;
  margin-top: 10px;
  margin-right: 5px;
  font-size: 10px;
  cursor: pointer;
}

.el-tooltip__popper {
  max-width: 400px;
  line-height: 180%;
}

//   弹框style
.yhc-el-dialog {
  .el-dialog {
    .el-dialog__header {
      padding: 10px 15px 10px;
    }

    .el-dialog__headerbtn {
      top: 10px;
    }

    .el-dialog__body {
      padding: 0px 15px 20px;
    }

    .dialog-type-style {
      display: flex;
      flex-wrap: wrap;

      li {
        padding: 2px;
        background: #E5EDE7;
        text-align: center;
        color: #4E9F5B;
        margin-right: 10px;
        margin-top: 10px;
      }
    }
  }
}

// 带有顶部线条的tab
.yhc-el-tabs .el-tabs--border-card {
  border: none;

  .el-tabs__item {
    height: 44px;
    border-top: 3px solid transparent !important;
  }

  .el-tabs__item.is-active {
    color: #4e9f5b !important;
    border-top: 3px solid #4e9f5b !important;
  }
}

.el-button.yhc_btn {
  background: #4E9F5B;
  color: #fff;
  border-color: #4E9F5B;
  min-width: 110px;
}

.el-button.yhc_btn.is-active,
.el-button.yhc_btn:active,
.el-button.yhc_btn:hover,
.el-button.yhc_btn:focus {
  background: #4e9f5b;
  border-color: #4e9f5b;
}

// 自己写的tabs切换
.tabs-box {
  display: flex;

  .tab-plane {
    font-size: 16px;
    color: #999;
    padding: 4px 0;
    margin-right: 8px;

    &.active {
      color: #4E9F5B;
      border-bottom: 2px solid #4E9F5B;
    }
  }
}

// 确定、取消按钮box
.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;

  .btn {
    width: inherit;
    height: 34px;
    line-height: 20px;
    padding: 7px 24px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }

  .cancel {
    background: #DBDBDB;
    margin-right: 24px;
  }

  .sure {
    background: #4E9F5B;
  }
}

.yhc-attr-btns {
  display: flex;
  justify-content: space-between;

  .btn {
    background: #fff;
    border: 1px solid #c8cbd6;

    &:hover,
    &.active {
      color: #476dff;
      background: #ebf0ff;
      border: 1px solid #3c63ff;
    }
  }
}

/* 面包屑 */

.crumbsHeader {
  margin-bottom: 24px;
  display: flex;
  align-items: center;

}

.crumbs {
  display: flex;
  align-items: center;
}

.crumbs span {
  margin-right: 8px;
  cursor: pointer;
  color: #666;
}

.crumbs span:last-child {
  color: #333;
}

/* 新闻中心/关于我们/帮助支持公用样式 */
.publicCenter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 57px;
}

.publicCenter .contList {
  width: 976px;
  height: 923px;
  background: #FFFFFF;
}

.publicCenter .contList .paging {
  position: absolute;
  left: 50%;
  bottom: 49px;
  transform: translate(-50%, 0);
}

/* 个人中心修改资料标签页样式 */
.modifyBox .el-tabs--border-card>.el-tabs__header {
  background: #dffde4;
}

.modifyBox .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
  color: #fff;
  background-color: #4E9F5B;
}

.modifyBox .el-tabs--border-card>.el-tabs__header .el-tabs__item {
  color: #333;
}

.modifyBox .el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
  color: #333;
}

.modifyBox .el-tabs--left .el-tabs__header.is-left {
  width: 18%;
  margin-right: 0;
}

.modifyBox .el-tabs--left .el-tabs__item.is-left {
  text-align: center;
}

.modifyBox .el-tabs__item {
  padding: 0;
}

.modifyBox .el-tabs--border-card>.el-tabs__content {
  width: 80%;
  padding: 72px 32px 32px;
  position: relative;
  height: 100%;
}

.modifyBox .upload-demo {
  text-align: center;
}

.modifyBox .el-button--primary {
  background-color: #4E9F5B;
  border-color: #4E9F5B;
  width: 224px;
  margin-top: 32px;
}

.modifyBox .el-button--primary:hover {
  background-color: #4E9F5B;
  border-color: #4E9F5B;
}


/* 个人中心 打印文件 多选 */
.checkboxBox .el-checkbox__label {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.checkboxBox .el-checkbox__input.is-checked+.el-checkbox__label {
  color: #333333;
}

.checkboxBox label.is-checked {
  background: rgba(78, 159, 91, 0.1);
}

.checkboxBox .el-checkbox__inner {
  width: 16px;
  height: 16px;
}

.checkboxBox .el-checkbox__inner::after {
  height: 8px;
  left: 5px;
}

.checkboxBox .el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #4E9F5B;
  border-color: #4E9F5B;
}

// 定制服务
.introBox {
  .el-radio.is-bordered {
    width: 100%;
    text-align: center;
    height: 47px;
    background: #FFFFFF;
    border-radius: 4px;
    // border: 1px solid #4E9F5B;
    padding: 0;
    line-height: 47px;
  }

  .el-radio.is-bordered.is-checked {
    border-color: #4E9F5B;
  }

  .el-radio__input.is-checked .el-radio__inner {
    border-color: #4E9F5B;
    background: #4E9F5B;
  }

  .el-radio__inner {
    border-radius: 0;
  }

  .el-radio__label {
    width: 100px;
    display: inline-block;
    text-align: left;
  }

  .el-radio__input.is-checked+.el-radio__label {
    color: #333333;
  }
}
